.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.progress-bar {
    height: 20px;
    background-color: blue;
    border-radius: 8px;
    transition: width 0.5s;
}